<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Gestion de locales</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" type="text/css" th:href="@{/imgstyle.css}"></link>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Locales Cuevas</a>


    <ul class="navbar-nav">
        <li class="nav-item">
            <a th:href="@{/locales}" class="nav-link font-weight-light ">Control de locales</a>

        </li>
        <li>
            <a th:href="@{/horarios}" class="nav-link font-weight-light">Gestion de horarios</a>
        </li>
        <li>
            <a th:href="@{/clientes}" class="nav-link font-weight-light">Gestion de Clientes</a>
        </li>
        <li>
            <a th:href="@{/tiposeventos}" class="nav-link font-weight-light">Gestion de Tipos de Eventos </a>
        </li>
        <li>
            <a th:href="@{/empleados}" class="nav-link font-weight-light">Gestion de Tipos de Eventos </a>
        </li>

    </ul>
</nav>

<br>
<div class="container-fluid">
        <div class="container">
            <h1 class="text-center" >Gestion de empleados </h1>
        </div>
    <br/>
        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{empleados/newsss}" class="btn btn-primary btn-sm mb3">Registrar Empleado </a>

            </div>

        </div>
    <br>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre del empleado</th>
            <th scope="col">Apellidos del empleado</th>
            <th scope="col">Email del empleado</th>
            <th scope="col">Cargo del empleado</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empleado: ${empleados}">

            <td th:text="${empleado.id}">Id</td>
            <td th:text="${empleado.employeeName}">Opening Time</td>
            <td th:text="${empleado.employeeLastName}">Closing Time</td>
            <td th:text="${empleado.employeeEmail}">Given Date</td>
            <td  th:text="${empleado.employeePosition}">Returning Date</td>


            <td>
                <a th:href="@{/empleados/edittt/{id}(id=${empleado.id})}" class="btn btn-info">Editar</a>
                <a th:href="@{/empleados/{id}(id=${empleado.id})}" class="btn btn-danger">Eliminar</a>
            </td>




        </tr>

        </tbody>
    </table>



        </body>
</html>